# MySQL
:3306 {
        reverse_proxy connect_mysql:3306
}

# Node-red
:1880 {
        reverse_proxy connect_node_red:1880
}
:2884 {
        reverse_proxy connect_node_red:2884
}

# Aplicação
:3000 {
        reverse_proxy connect_apps:3000
}
